html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: auto !important;
  overflow-y: auto !important;
  -webkit-overflow-scrolling: touch; /* habilita scroll suave en iOS */
  background-color: #f9fafb;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body * {
    visibility: hidden;
  }
  #printable-ticket, #printable-ticket * {
    visibility: visible;
  }
  #printable-ticket {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
@keyframes blink {
  0%, 100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.4;
    transform: scale(1.2);
  }
}
#ticket-scroll-container, #printable-ticket {
  border: 2px dashed #3b82f6;
}